.QuestionPromptContainer {
  position: relative;
  top: 45px;
  background: #fff;
  width: 840px;
  height: 500px;
}

.questionTitle {
  /* background: red; */
  padding: 10px;
  margin: 0 auto;
  color: black;
  font-weight: 700;
}

.questionBody {
  font-size: 14px;
  line-height: 1.35;
  padding: 25px;
}

.exampleContainer {
  background: #f1f1f1;
  width: 80%;
  margin: 0 auto;
}

blockquote {
  left: 0;
  line-height: 1.2;
  font-size: 14px;
  padding: 2rem;
}
